**Given the weight(in lbs) and foot size(in inches),predict whether the person is a male or female using Naive Bayes algorithm.**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**Importing Libraries**

In [ ]:
import numpy as np
import pandas as pd

**Importing dataset**

In [ ]:
ds = pd.read_csv('/content/drive/My Drive/gender.csv')
ds.head()

   Gender     Weight  Shoe_size
0    Male  176.36960  17.460317
1    Male  154.32340  17.063492
2  Female  132.27720  15.079365
3  Female  119.04948  14.682540
4    Male  143.30030  15.873016

**Categorising feature and target variables**

In [ ]:
x=ds.iloc[:,[1,2]].values
y=ds.iloc[:,[0]].values

**Splitting into training and testing set**

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=0)

**OUTPUT - Predicting female:**

In [ ]:
from sklearn.naive_bayes import GaussianNB
classifier=GaussianNB()
classifier=classifier.fit(x_train,y_train.ravel())
print(classifier.predict([[121.25410,14.682540]]))

['Female']

**OUTPUT-Predicting male:**

In [ ]:
from sklearn.naive_bayes import GaussianNB
classifier=GaussianNB()
classifier=classifier.fit(x_train , y_train.ravel())
print(classifier.predict([[176.3696,17.46031746]]))

['Male']